<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <h5>Order Details:</h5>
    <ul>
    <% line_item = LineItem.where({order_id: @order.id}) %>
    <% line_item.each do |item| %>

      <% product = Product.find(item.product_id) %>
      <img><%= image_tag product.image.url, class: 'main-img' %></img>
      <li>Name: <%= product.name %></li>

      <li>Price: <%= humanized_money_with_symbol item.item_price %></li>
      <li>Quantity: <%= item.quantity %></li>
      
      <%  end %>
      <li>Total: <%= humanized_money_with_symbol @order.total %></li>
    </ul>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>

